.Navigation {
  background-color: black;
  border-bottom: 1px solid #6c757d;;
}

.nav-link.active {
  font-weight: bold;
  color: whitesmoke;
}

.nav-link{
  color: white;
}

.Navigation button {
  color: red;
}

.btn-outline-secondary {
  /* background-color: black!important; */
}
.btn-outline-secondary:active{
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}