.video-item {
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    position: relative;
    /* display: inline-block; */
}
.video-item span {
    display: none;
    /* z-index: 1001; */
    position: absolute;
    padding-right: 0.2em;
    padding-left: 0.2em;
    bottom: 0;
    background: #333;
    color: #fff;
    min-width: 0.2em;
    min-height: 0.2em;
    max-width: 200px;
    max-height: 250px;
    border: 1px solid;
    border-color: #6c757d;
    border-radius: .25rem;
  }
  
.video-item:hover span {
    display: block;
  }
.video-item.item img {
    min-width: 0.2em;
    min-height: 0.2em;
    max-width: 200px;
    max-height: 250px;
    border: 1px solid;
    border-color: #6c757d;
    border-radius: .25rem;
}
.video-item.item img.active {
    border-color: red;
    box-shadow: 0 0 0 .25rem rgba(75, 75, 75, 0.5);
}

.video-item-remove{

    position: absolute;
    top: -5%;
    left: 83%;
    /* transform: translate(-50%, -50%); */
    z-index: 1000;
    padding: 0;
    padding-top: 0.25em;
    padding-left: 0.25em;
    color: whitesmoke;
    text-shadow: -1px 0 #6c757d, 0 1px #6c757d, 1px 0 #6c757d, 0 -1px #6c757d;
    font-size: 1.5rem;
    font-weight: bold;
    /* border: 1px solid;
    border-color: #6c757d;
    border-radius: .25rem; */
}

/* .video-item-container {
    /* margin: auto; */
    /* text-align: center; */
    /* 
    
} */